body {
	color: #ffffff;
	background-color: #000000;
	font-size: 30px;
	font-family: 'Anonymous Pro', monospace;
}

button {
	font-size: 30px;
	font-family: 'Anonymous Pro', monospace;
	padding: 20px;
	cursor: pointer;
}

video {
	width: 852px;
	height: 480px;
}

div#content {
	text-align: center;
}

.img-link {
	cursor: pointer;
}

.game-link {
	cursor: pointer;
	width: 360px;
	height: 206px;
	border: 2px dashed transparent;
}
	.game-link:hover{
		border: 2px dashed #999;
	}
