body {
	color: #ffffff;
	background-color: #000000;
	font-size: 30px;
	font-family: 'Anonymous Pro', monospace;
}

button {
	font-size: 30px;
	font-family: 'Anonymous Pro', monospace;
	padding: 20px;
	cursor: pointer;
}

video {
	width: 852;
	height: 480;
}

div#content {
	text-align: center;
}

.img-link {
	cursor: pointer;
}
