body {
	color: #ffffff;
	background-color: #000000;
	font-size: 30px;
	font-family: 'Anonymous Pro', monospace;
}

button {
	font-size: 30px;
	font-family: 'Anonymous Pro', monospace;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	cursor: pointer;
}
button:focus {
	outline: none;
}

video, iframe {
	width: 852px;
	height: 480px;
}

.img {
	position: absolute;
	margin: auto;
	top: 0px; left: 0px; right: 0px;
	width: 852px;
	height: 480px;
}

.img-link {
	width: 852px;
	height: 480px;
	cursor: pointer;
}

.img-title {
	position: absolute;
	margin: auto;
	top: 10px; left: 0px; right: 0px;
	width: 852px;
	height: 480px;
}

.img-scene {
	position: absolute;
	margin: auto;
	top: 10px; left: 0px; right: 0px;
	width: 852px;
	height: 480px;
	z-index: 1000;
}

.btn-scene{
	position: absolute;
	margin: auto;
	top: 500px; left: 0px; right: 0px;
}

.cursor-pointer {
	cursor: pointer;
}

.no-outline {
	outline: none;
}

.subtitle {
	position: absolute;
	margin: auto;
	top: 400px; left: 0px; right: 0px;
	width: 852px;
	height: 60px;
	z-index: 1000;
	color: #ffffff;
	-webkit-text-stroke: 1px #000000;
	text-shadow: -1px 1px 1px #000000,
				  1px 1px 1px #000000,
				  1px -1px 0px #000000,
				  -1px -1px 0px #000000;
}

div#content {
	text-align: center;
}

area:focus{
        border: none;
        outline-style: none; 
        -moz-outline-style:none;  
      }

.blackscreen {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	background-color: #000;
	position: absolute;
	margin: auto;
	top: 10px; left: 0px; right: 0px;
	width: 852px;
	height: 480px;
	z-index: 1000;
	opacity: 0.8;
}
.blackscreen span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
